body {
  margin: 0px;
}
.header {
  display: flex;
  flex-wrap: wrap;
  background-color: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
.logo {
  flex: 50%;
  color: rgb(3, 168, 180);
  align-items: center;
}
.pagelinks {
  flex: 50%;
  display: grid;
  place-items: center;
}
.body {
  min-height: 80vh;
  display: grid;
  place-items: center;
}
.links a {
  color: rgb(12, 11, 11);
  margin: 10px;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
}
.links a:hover {
  transition-duration: 1s;
  animation: forwards;
  text-decoration: underline;
  color: aqua;
}
.links .active {
  color: aquamarine;
  text-decoration: underline;
}
